/* Centralizar o container */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  /* Estilizar o container */
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
  }
  
  /* Centralizar título */
  header h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilo da seção de listagem */
  .list-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  thead {
    background-color: #007bff;
    color: white;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  