<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Icon" href="https://static.vecteezy.com/system/resources/thumbnails/013/993/970/small_2x/illustration-of-a-book-with-a-red-cover-free-png.png">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Adminitração dos Livros</h1>
      </header>

      <section class="a_flex">
        <button id="addBookButton">Cadastrar novo livro</button>
        <button id="listBooksButton">Listar livros existentes</button>
      </section>

      <section class="form-section">
        <h2>Adicionar Novo Livro</h2>
        <form id="addBookForm">
          <input type="text" id="bookName" placeholder="Nome do Livro" required>
          <input type="text" id="autor" placeholder="Nome do Autor" required>
          <button type="submit">Adicionar</button>
        </form>
      </section>

      <section class="list-section">
        <h2>Lista de Livros</h2>
        <table id="bookListTable">
          <thead>
              <th>Nome do Livro</th>
              <th>Nome do Autor</th>
              <th colspan="2">Opções</th>
          </thead>
          <tbody id="bookList"></tbody>
        </table>
      </section>
    </div>

    <script type="module" src="/js/adminScript.js"></script>
  </body>
</html>
