<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Icon" href="https://em-content.zobj.net/source/emoji-one/98/blue-book_1f4d8.png">
    <title>Bibliotecário</title>
     <link rel="stylesheet" href="/css/bibliotecario.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Central de Controle</h1>
      </header>

      <section class="a_flex">
        <a href="fluxoLivros.html"><button>Fluxo de Livros</button></a>
        <a href="gerenciarUsuarios.html"><button>Gerenciar Usuários</button></a>
      </section>
    </div>
    
  </body>
</html>