<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="Icon" href="https://em-content.zobj.net/source/emoji-one/98/blue-book_1f4d8.png">
  <title>Biblioteca</title>
   <link rel="stylesheet" href="/css/fluxoLivros.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Gerencie sua biblioteca</h1>
    </header>
    <section class="list-section">
      <h2>Lista de Livros</h2>
      <table id="bookTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome do Livro</th>
            <th>Nome do Autor</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </section>
  </div>
  <script type="module" src="/js/fluxo.js"></script>
</body>
</html>
